#update {
    position: absolute;
    /* background-color:aqua; */
    width: 80%;
    height: 80%;
    display: none;
    transition: 4s;
}

#add {
    width: 50%;
}

.add_container {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}